*{
	font-family: arial;
	font-size: 16px;
}
header{
    display: block;
    background-color: white;
    width:100%;
}

header h1{
    text-transform: uppercase;
    text-align: left;
    width:25%;
    display:inline-block;
    margin-left: 80px;
}
header nav{
    text-align: right;
    display:inline-block;
    width:60%;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li{
    display: inline-block;
}
 /*DISEñO DEL MENU*/
header ul li a{
    text-decoration: none;
    /*
    border: solid;
    border-color: #4973c0;
    background-color: #699bf7;
    */
    color: #699bf7;
    padding: 1em;
}

header ul li a:hover{
    color: white;
    border-radius: 50px;
    background-color: #2b416b;
    border-color: #2b416b;
}

/*PIE DE PAGUINA*/
footer{
	display: flex;
	justify-content:space-between;
	max-width: 1100px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}