*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 16px;
}
.restaurar{
    clear: both;
}
/*HEADER*/
header img{
    transition: all .2s;
}
header img:hover{
    transform: scale(1.04);
}
header{
    padding-top: 10px;
	padding-bottom: 15px;
    display: block;
    background-color: white;
    width:100%;
}

header h1{
    text-transform: uppercase;
    text-align: left;
    width:25%;
    display:inline-block;
    margin-left: 80px;
}
header nav{
    text-align: right;
    display:inline-block;
    width:60%;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li{
    display: inline-block;
}
 /*DISEñO DEL MENU*/
header ul li a{
    text-decoration: none;
    /*
    border: solid;
    border-color: #4973c0;
    background-color: #699bf7;
    */
    color: #699bf7;
    padding: 1em;
}

header ul li a:hover{
    color: white;
    background-color: black;
}

/*BIENVENIDA*/
#welcome .contenido{
    border-bottom: solid 3px #2b416b;
    border-top: solid 3px #2b416b;
    background-color: rgb(124, 179, 231);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.flotanteTexto{
	width: 35%;
    padding-top: 10%;
}
.flotanteImagen{
	width: 59%;
    transition: all .2s;
}
.flotanteImagen:hover{
	transform: scale(1.004);
}
.contenido img{
	width: 100%;
	height: auto;
	border: 0;
	position: relative;
}
.contenido h2{
    color: white;
	font-weight: bold;
	font-size: 30px;
}
.contenido p{
	font-size: 25px;
	font-weight: 200;
    text-align: justify;
}
/*SERVICIOS*/

/*PIE DE PAGUINA*/
footer{
	display: flex;
	justify-content:space-between;
	max-width: 1100px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}